# root
.env
.env.development
.env.test

# web
!/web/src/packages/**
/web/.browserslistrc
/web/.editorconfig
/web/.env
/web/.env.development
/web/.env.test
/web/.eslintrc.js
/web/babel.config.js
/web/jest.config.js
/web/package-lock.json
/web/package.json
/web/postcss.config.js
/web/README.md
/web/vue.config.js
/web/public/
/web/tests/
/web/src/assets/
/web/src/components/
/web/src/views/
/web/src/App.vue
/web/src/main.js
/web/src/router.js

# admin
!/admin/src/packages/**
/admin/.browserslistrc
/admin/.editorconfig
/admin/.env
/admin/.env.development
/admin/.env.test
/admin/.eslintrc.js
/admin/babel.config.js
/admin/jest.config.js
/admin/package-lock.json
/admin/package.json
/admin/postcss.config.js
/admin/README.md
/admin/vue.config.js
/admin/public/
/admin/tests/
/admin/src/assets/
/admin/src/components/
/admin/src/views/
/admin/src/App.vue
/admin/src/main.js
/admin/src/router.js
